# See https://atom.io/docs/latest/creating-a-package#menus for more details
# 'context-menu':
#   'atom-text-editor': [
#     {
#       'label': 'Create Repl'
#       'command': 'ocaml-repl:toggle'
#     }
#   ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Repl'
      'submenu': [
        # {
        #     'label': 'Create'
        #     'command': 'ocaml-repl:create'
        # }
        # {
        #   'label': 'Repl Python2'
        #   'command': 'ocaml-repl:Repl Python2'
        # }
        # {
        #   'label': 'Repl Python3'
        #   'command': 'ocaml-repl:Repl Python3'
        # }
        {
          'label': 'Repl Ocaml'
          'command': 'ocaml-repl:Repl Ocaml'
        }
        # {
        #   'label': 'Repl Octave'
        #   'command': 'ocaml-repl:Repl Octave'
        # }
        # {
        #   'label': 'Repl Bash'
        #   'command': 'ocaml-repl:Repl Bash'
        # }
        # {
        #   'label': 'Repl Coffee'
        #   'command': 'ocaml-repl:Repl Coffee'
        # }
        # {
        #   'label': 'Repl R'
        #   'command': 'ocaml-repl:Repl R'
        # }
        # {
        #   'label': 'Repl Node'
        #   'command': 'ocaml-repl:Repl Node'
        # }
        # {
        #   'label': 'Repl Gdb'
        #   'command': 'ocaml-repl:Repl Gdb'
        # }
        # {
        #   'label': 'Repl Swift'
        #   'command': 'ocaml-repl:Repl Swift'
        # }
        {
          'label': 'Interprete File'
          'command': 'ocaml-repl:interpreteFile'
        }
        # {
        #   'label': 'Interprete Selection'
        #   'command': 'ocaml-repl:interpreteSelect'
        # }
      ]
    ]
  }
]
